---
import Sidebar from '../components/partials/sidebar.svelte';
import Rightbar from '../components/partials/rightbar.astro';

const title: string = `{{.Title}}`;
const avatarUrl: string = `{{.User.Avatar }}`;
const fullName: string = `{{.User.FullName }}`;
const username: string = `{{.User.Username}}`;

const year: number = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta
      content="VFTalk is an open-source Chat App for your privacy needs and to feels another experience of communications"
      property="og:description"
    />
		<meta content="id_ID" property="og:locale" />
    <meta content="en_EN" property="og:locale:alternate" />
    <meta content="website" property="og:type" />
	</head>
	<body class="bg-white text-zinc-800 w-full min-h-screen h-screen top-0 bottom-0 right-0 left-0">
		<div class="container mx-auto lg:max-w-7xl flex flex-row gap-0">
			<aside class="w-fit h-screen flex flex-row justify-end p-6 sticky top-0">
				<div class="w-[210px] h-full flex flex-col gap-8">
					<div class="w-full h-fit flex">
						<a href="/" class="ml-3">
							<img src="/icons/vftalk-logo-dark.svg" alt="VFtalk logo" title="VFtalk" class="w-28 h-auto">
						</a>
					</div>
					<div class="w-full h-full flex flex-col justify-between text-lg">
						<div class="grow">
							<Sidebar client:only/>
						</div>
  					<div class="h-fit">
    					<footer class="pl-2 text-xs flex flex-col text-zinc-500 gap-3">
      					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      					<p class="border-t border-zinc-200 pt-3">Copyright © {year} | VFtalk</p>
    					</footer>
  					</div>
					</div>
				</div>
			</aside>
			<div class="w-[700px] border-x-[2px] border-zinc-100 relative">
				<slot />
			</div>
			<Rightbar avatarUrl={avatarUrl} username={username} fullName={fullName} />
		</div>
	</body>
</html>
